@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
